<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
<title>Author parsing test</title>

<link type="text/css" href="{{ base_path }}/static/css/smoothness/jquery-ui-1.8.16.custom.css" rel="Stylesheet" /> 
<style type="text/css">

#content {
    width: 100%;
    margin: auto;
}

div.parseform {
    width: 20%;
    margin: 0;
    padding: 1em 0.5em;
    float: left;
}

div#synonym {
    width: auto;
    max-width: 55%;
}

div#indextime {
    clear: both;
}

#content label {
    display: block;
}

#parse-submit {
    margin: 20px 40px;
}

#header h1 {
    float: left;
    display: inline;
}

div.results {
    font-size: 0.8em;
    font-family: Helvetica, sans-serif;
}

</style>

<script type="text/javascript" src="{{ base_path }}/static/js/jquery-1.6.2.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/static/js/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript">

var listCounter = 1;

function createList(container, items, id) {
    if (!items.length) return;
    listElem = $('<ul id="' + id + '"></ul>');
    $(items).each(function(i, item) {
        listElem.append("<li>" + item + "</li>");
    });
    container.append(listElem);
}

function uniqueList(list) {
    var dict = {};
    var unique = [];
    $(list).each(function(i, x) {
        dict[x] = 1;
    });
    for (var k in dict) {
        unique.push(k);
    }
    return unique;
}

$(document).ready(function() {
    $("#parse-submit").click(function() {

        // get the inital data
        $(['index','query','synonym']).each(function(i, phase) {
            console.log(phase);
            var input = $("#" + phase + "-input").val();
            if (input.search(/\w+/) != -1) {
                $.ajax({
                    method: "GET",
                    url:  "{{ base_path }}/" + phase,
                    data: { author: input },
                    dataType: 'json',
                    async: false,
                    success: function(msg) {
                        var rNode = $("#" + phase + "-results");
                        rNode.empty();
                        $.each(msg['result'], function(i, section) {
                            if (section['names'].length) {
                                rNode.append("<h3>" + section['section'] + "(" + listCounter++ + ")</h3>");
                                createList(rNode, section['names'], section['section']);
                            }
                        });
                    }
                });
            }
        });

        // fetch synonyms for the query variations
        var variations = [];
        $("#query-results > #variations > li").each(function(i, li) {
            variations.push($(li).text());
        });
        $.ajax({
            method: "GET",
            url: "{{ base_path }}/auto_gen_synonyms",
            data: { author: variations.join(';') },
            dataType: 'json',
            async: false,
            success: function(msg) {
                var rNode = $("#query-results");
                rNode.append("<h3>exp generated synonyms (" + listCounter++ + ")</h3>");
                createList(rNode, msg['result'], 'exp_gen_syn');
            }
        });

        // expand with the index time generated synonyms
        var index_syn = $("#index-results > #index-synonyms > li").map(function(i, li) {
            return $(li).text();
        });
        // get the current query values
        var current_query = $("#query-results > #exp_gen_syn > li").map(function(i, li) {
            return $(li).text();
        });
        var exp_index_syn = current_query;
        $(current_query).each(function(i, name) {
            $(index_syn).each(function(j, syn) {
                if (name.indexOf(syn) == 0) { 
                    $(index_syn).each(function(k, syn_replace) {
                        var replaced = name.replace(syn, syn_replace);
                        exp_index_syn.push(replaced);
                    });
                }
            });
        });
        var rNode = $("#query-results");
        rNode.append("<h3>exp index synonyms (" + listCounter++ + ")</h3>");
        createList(rNode, exp_index_syn, 'exp_index_syn');

        var exp_curated_syn = exp_index_syn;
        $("#query-results > #exp_index_syn > li").each(function(i, query_li) {
            var pattern = $(query_li).text();
            $("#synonym-results > #processed > li").each(function(j, syn_li) {
                var key = $(syn_li).find("span.key");
                var targets = $(syn_li).find("span.target").map(function(j, span) {
                    return $(span);
                });
                var rexp = new RegExp("^" + pattern + "$");
                console.log("testing " + rexp + " against " + key.text());
                if (rexp.test(key.text())) {
                    var cssObj = {'font-weight': 'bold', 'background': 'yellow'};
                    $(key).css(cssObj);
                    $(query_li).css(cssObj);
                    $(targets).each(function(k, target) {
                        exp_curated_syn.push(target.text());
                    });
                }
            });
        });
        // insert updated query terms list
        exp_curated_syn = uniqueList(exp_curated_syn);
        var rNode = $("#query-results");
        rNode.append("<h3>exp curated synonyms (" + listCounter++ +")</h3>");
        createList(rNode, exp_curated_syn, 'exp_cur_syn');
/*
        var exp_curated_syn = [];
        var curated_syn = $("#synonym-results > #auto_gen_synonyms > li").map(function(i, li) {
            return $(li).text();
        });

        $(curated_syn).each(function(i, syn) {
            $("#query-results > #exp_index_syn > li").each(function(i, pattern) {
                var rexp = new RegExp("^" + pattern + "$");
                if (rexp.test(syn)) {
                    $(curated_syn).each(function(i, target) {
                    });
                }
            });
        });

        // get the curated synonyms
        var curated_syn = {};
        $("#synonym-results > #processed > li").each(function(i, li) {
            var key = $(li).find("span.key").text();
            var targets = $(li).find("span.target").map(function(j, span) {
                return $(span).text();
            });
            curated_syn[key] = targets;
        });

        // expand query with the curated synonyms
        var new_query = exp_index_syn;

        $(exp_index_syn).each(function(i, name) {
            console.log("looking for " + name);
            if (curated_syn[name]) {
                console.log("adding " + curated_syn[name]);
                $(curated_syn[name]).each(function(i, syn) {
                    new_query.push(syn.replace("\\,", ","));
                });
            }
        });
        console.log(new_query);
        new_query = uniqueList(new_query);
        console.log(new_query);

        // insert updated query terms list
        var rNode = $("#query-results");
        rNode.append("<h3>exp curated synonyms (" + listCounter++ +")</h3>");
        createList(rNode, new_query, 'exp_cur_syn');
        */

        // highlight query matches
        var indexed = $("#index-results > #indexed > li").text();
        if (indexed) {
            $("#query-results > #exp_cur_syn > li").each(function(i, li) {
                var name = $(li).text();
                var rexp = new RegExp("^" + name + "$");
                console.log("name: " + name + ", rexp: " + rexp);
                if (rexp.test(indexed)) {
                    console.log("got a match");
                    $(li).css("font-weight", "bold");
                    $(li).css("background-color", "yellowgreen");
                }
            });
        }
        listCounter = 1;
    });
});

</script>
</head>
<body>

<section id="content">
    <header id="header">
        <h1>Author parsing demo</h1>
        <input type="button" id="parse-submit" value="Process" />
    </header>
    <div id="indextime" class="parseform">
        <label for="index-input">Index</label>
        <input type="text" id="index-input" name="index-input"/>
        <div class="results" id="index-results">
        </div>
    </div>
    <div id="querytime" class="parseform">
        <label for="query-input">Query</label>
        <input type="text" id="query-input" name="query-input"/>
        <div class="results" id="query-results">
        </div>
    </div>
    <div id="synonym" class="parseform">
        <label for="synonym-input">Curated Synonyms</label>
        <textarea id="synonym-input" name="synonym-input" rows="6" cols="20"></textarea>
        <div class="results" id="synonym-results">
        </div>
    </div>
</section>

</body>
</html>
